/* stylelint-disable custom-property-empty-line-before */

@import "tailwindcss/tailwind.css";
@import "@/styles/globals.css";

:root {
	--color-background: theme(colors.neutral.50);
	--color-text: theme(colors.neutral.900);
	--color-heading-text: theme(colors.neutral.900);
	--color-focus-ring: theme(colors.primary.600);
	--color-selection-background: theme(colors.primary.600);
	--color-selection-text: theme(colors.neutral.0);

	--font-family-text: var(--_font-body, ui-sans-serif), system-ui, sans-serif;

	--z-index-dialog: 100;
	--z-index-focus-ring: 10;
	--z-index-page-load-progress-indicator: 50;
	--z-index-overlay: 200;

	color-scheme: light;
}
